<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles.css">
        <title>Krejci Portfolio</title>
    </head>
    <body>
        <!--Footer-->
        <div class="footer">
            <!--Contact information-->
            <h1 class="contactText">Contact Info</h1>
            <p class="phoneText">224-433-9158</p>
            <a class="emailText" href="mailto:jacknkrejci@lewisu.edu">jkrejci02@gmail.com</a>
            <!--Account logos-->
            <a href="https://github.com/jkrejci1"><img class="githubLogo" src="img/github.png"></a>
            <a href="https://leetcode.com/jkrejci/"><img class="leetLogo" src="img/leetcode.png"></a>
            <a href="https://www.linkedin.com/in/jack-krejci-b140a1260/"><img class="linkedInLogo" src="img/linkedin.png"></a>
            <a href="img/krejci-resume.pdf"><img class="resumeLogo" src="img/resume.webp"></a>


        </div>
    </body>
</html>