<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles.css">
        <title>Krejci Portfolio</title>
    </head>
    <body>
        <!--Footer-->
        <div class="footer">
            <!--Contact information-->
            <h1 class="contactText">Contact Info</h1>
            <p class="phoneText">224-433-9158</p>
            <a class="emailText" href="mailto:jacknkrejci@lewisu.edu">jkrejci02@gmail.com</a>
            <!--Account logos POSSIBLY MAKE THIS INTO COLUMNS-->
            <div class="grid-footer">
                <a class="gridLogo" href="https://github.com/jkrejci1"><img class="gridPicGit" src="images/github.png"></a>
                <a class="gridLogo" href="https://leetcode.com/jkrejci/"><img class="gridPicLeet" src="images/leetcode.png"></a>
                <a class="gridLogo" href="https://www.linkedin.com/in/jack-krejci-b140a1260/"><img class="gridPicLinkedIn" src="images/linkedin.png"></a>
                <a class="gridLogo" href="krejci-resume.pdf"><img class="gridPicResume" src="images/resume.png"></a>
            </div>
            
        </div>
    </body>
</html>