<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles.css">
        <title>Krejci Portfolio</title>
    </head>
    <body>
        <!--Footer-->
        <div class="footer">
            <h1>This is a footer</h1>
        </div>
    </body>
</html>