<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles.css">
        <title>Krejci Portfolio</title>
    </head>
    <body>

        <!--Banner-->
        <div class="header">
            <h1 id="headName">Jack Krejci</h1>
            <!--<h3>Welcome to my portfolio!</h3>-->
        </div>

        <nav>
            <ul class="topnav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/experience">Experience</a></li>
            </ul>
        </nav>
    </body>

    <script>
        //JavaScript to find the current link in the navbar and set its class to active
        //Window.location gives object of several parameters of the current page you're on
        const activePage = window.location.pathname;

        //Take all the links on the page to be able to compare to the current one we're on 
        const navLinks = document.querySelectorAll('nav a').forEach(link => {
            console.log(link)
            //If the pathname of a link in the loop matches the activePage, set that link to have the 'active' class to keep it white
            if (link.pathname == activePage) {
                link.classList.add('active')
            }
            
        });


    </script>
</html>