<!--MORE IN DEPTH SUMMARY OF SELF AND JOURNERY AND PERSONAL LIFE/HOBBIES TO HUMANIZE MYSELF MORE-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="about.css">
        <title>Krejci About Portfolio</title>
    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        
        <!--Main body outside the header and footer-->
        <div class="container">
            <!--Insert two divs for the more about me and why hire me-->
            <div class="box about-me">
                <h1>The Beginning of My Journery</h1>
                <img class="img beginning" src="images/who-am-i/started.png">
                <div class="box paragraph">
                    <p>My journey in computer science all started when I was a sophomore in high school where we were 
                        required to pick some electives to take, and one of the classes caught my eye. The class was an 
                        introductory course in web design. We started out using Wix to make websites, and then towards the 
                        end of the course we dipped our toes in some HTML and CSS. Then in my junior year my math teacher 
                        announced during class that students were eligible to take a new full year course the school was 
                        offering in computer programming instead of taking a math course senior year. It seemed very 
                        interesting, so I did it and learned a little about programming in Visual Basic, which inspired me 
                        to research more about programming over the summer and teach myself some beginner level Python. The 
                        satisfying feeling of trying to figure out problems and writing code and debugging it until it 
                        finally works is something I’ve never felt so strong before, and I knew that computer science was 
                        what I needed to get into for the future at that point. 
                    </p>
                </div>
            </div>  

            <!--Insert information in why you should hire me-->
            <div class="box hire-me">
                <h1>Why You Should Hire Me</h1>
                <img class="img hand-shake" src="images/who-am-i/shake.png">
                <div class="box paragraph">
                    <p>If you want someone that is passionate about their job, and cares greatly about their craft, I’m 
                        the guy for you. I’ve always had an extremely deep drive inside of me that pushes me to keep 
                        going and to always strive for what I want to do in life. That deep drive has helped me so much 
                        when having to perform hard tasks or figure out problems that seem impossible at the start. I 
                        can bring that drive on the job and be a great help for you and your team, while also having an 
                        open mind in what I need to do or learn to get better. I’ve also have done a lot of work in 
                        team-oriented environments, from playing team sports from elementary school through high school, 
                        to working in larger software projects in a scrum team in college. I’ve had so much experience 
                        working in teams that it makes sense that I would go into a profession that lays a huge 
                        importance on teamwork as well. I will make sure that I am doing all I can to not slow my 
                        team down, and ask many questions and try everything I can do to help team members that are 
                        having trouble. This is the type of dedication that you can expect on a daily basis if you pick
                         me to be a part of your team.
                    </p>
                </div>
            </div>

            <!--Past Work Section-->
            <h1 class="outside-header">Past Work</h1>
            <!--Working at fritzls-->
            <div class="box fritzls-work">
                <h1>Fritzls Restaurant and Pub</h1>
                <img class="img fritz" src="images/work-photos/fritzls.jpg">
            </div>

            <!--Working at GFS-->
            <div class="box gfs-work">
                <h1>Gordon Food Service</h1>
                <img class="img gfs" src="images/work-photos/gfs.jpg">
            </div>

            <!--Working at Scoreboard-->
            <div class="box scoreboard-work">
                <h1>Scoreboard Bar and Grill</h1>
                <img class="img scoreboard" src="images/work-photos/scoreboard.jpg">
            </div>

            <!--Working at Hawthorn Gardens-->
            <div class="box hawthorn-work">
                <h1>Hawthorn Gardens</h1>
                <img class="img hawthorn" src="images/work-photos/hawthorn-gardens.jpg">
            </div>

            <!--Hobbies-->
            <h1 class="outside-header">Hobbies</h1>
            <!--Hockey section-->
            <div class="box hockey">
                <h1>Hockey</h1>
                <img class="img hock" src="images/hobbies/hockey.jpg">
            </div>

            <!--Fishing section-->
            <div class="box fishing">
                <h1>Fishing</h1>
                <img class="img fish" src="images/hobbies/fishing.jpg">
            </div>

            <!--Volunteering-->
            <h1 class="outside-header">Volunteer</h1>
            <h1 class="outside-header work">Work</h1>
            <div class="box pantry">
                <h1>St. Vincent de Paul Food Pantry</h1>
                <img class="img st-francis" src="images/work-photos/st-francis.jpg">
            </div>
        </div>  



        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>