<!--MORE IN DEPTH SUMMARY OF SELF AND JOURNERY AND PERSONAL LIFE/HOBBIES TO HUMANIZE MYSELF MORE-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="about.css">
        <title>Krejci About Portfolio</title>
    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        
        <!--Main body outside the header and footer-->
        <div class="container">
            <!--Insert two divs for the more about me and why hire me-->
            <div class="box about-me">
                <h1>The Beginning of My Journey</h1>
                <img class="img beginning" src="images/who-am-i/started.png">
                <div class="box paragraph">
                    <p>My journey in computer science all started when I was a sophomore in high school where we were 
                        required to pick some electives to take, and one of the classes caught my eye. The class was an 
                        introductory course in web design. We started out using Wix to make websites, and then towards the 
                        end of the course we dipped our toes in some HTML and CSS. Then in my junior year my math teacher 
                        announced during class that students were eligible to take a new full year course the school was 
                        offering in computer programming instead of taking a math course senior year. It seemed very 
                        interesting, so I did it and learned a little about programming in Visual Basic, which inspired me 
                        to research more about programming over the summer and teach myself some beginner level Python. The 
                        satisfying feeling of trying to figure out problems and writing code and debugging it until it 
                        finally works is something I’ve never felt so strong before, and I knew that computer science was 
                        what I needed to get into for the future at that point. 
                    </p>
                </div>
            </div>  

            <!--Insert information in why you should hire me-->
            <div class="box hire-me">
                <h1>Why You Should Hire Me</h1>
                <img class="img hand-shake" src="images/who-am-i/shake.png">
                <div class="box paragraph">
                    <p>If you want someone that is passionate about their job, and cares greatly about their craft, I’m 
                        the guy for you. I’ve always had an extremely deep drive inside of me that pushes me to keep 
                        going and to always strive for what I want to do in life. That deep drive has helped me so much 
                        when having to perform hard tasks or figure out problems that seem impossible at the start. I 
                        can bring that drive on the job and be a great help for you and your team, while also having an 
                        open mind in what I need to do or learn to get better. I’ve also have done a lot of work in 
                        team-oriented environments, from playing team sports from elementary school through high school, 
                        to working in larger software projects in a scrum team in college. I’ve had so much experience 
                        working in teams that it makes sense that I would go into a profession that lays a huge 
                        importance on teamwork as well. I will make sure that I am doing all I can to not slow my 
                        team down, and ask many questions and try everything I can do to help team members that are 
                        having trouble. This is the type of dedication that you can expect on a daily basis if you pick
                         me to be a part of your team.
                    </p>
                </div>
            </div>

            <!--Past Work Section-->
            <h1 class="outside-header">Past Work</h1>
            <!--Working at fritzls-->
            <div class="box fritzls-work">
                <h1>Fritzls Restaurant and Pub</h1>
                <img class="img fritz" src="images/work-photos/fritzls.jpg">
                <div class="box-paragraph work">
                    <ul>
                        <li><b>Job:</b> Busboy</li>
                        <li><b>Location:</b> Lake Zurich, Illinois</li>
                        <li><b>Time Worked:</b> 2017</li>
                    </ul>
                </div>
            </div>

            <!--Working at GFS-->
            <div class="box gfs-work">
                <h1>Gordon Food Service</h1>
                <img class="img gfs" src="images/work-photos/gfs.jpg">
                <div class="box-paragraph work">
                    <ul>
                        <li><b>Job:</b> Store Associate</li>
                        <li><b>Location:</b> Paltine, Illinois</li>
                        <li><b>Time Worked:</b> 2018-2019</li>
                    </ul>
                </div>
            </div>

            <!--Working at Scoreboard-->
            <div class="box scoreboard-work">
                <h1>Scoreboard Bar and Grill</h1>
                <img class="img scoreboard" src="images/work-photos/scoreboard.jpg">
                <div class="box-paragraph work">
                    <ul>
                        <li><b>Job:</b> Busboy</li>
                        <li><b>Location:</b> Lake Zurich, Illinois</li>
                        <li><b>Time Worked:</b> 2017-2018</li>
                    </ul>
                    <p></p>
                </div>
            </div>

            <!--Working at Hawthorn Gardens-->
            <div class="box hawthorn-work">
                <h1>Hawthorn Gardens</h1>
                <img class="img hawthorn" src="images/work-photos/hawthorn-gardens.jpg">
                <div class="box-paragraph work">
                    <ul>
                        <li><b>Job:</b> Stockboy</li>
                        <li><b>Location:</b> Lake Zurich, Illinois</li>
                        <li><b>Time Worked:</b> 2018</li>
                    </ul>
                </div>
            </div>

            <!--Hobbies-->
            <h1 class="outside-header">Hobbies</h1>
            <!--Hockey section-->
            <div class="box hockey">
                <h1>Hockey</h1>
                <img class="img hock" src="images/hobbies/hockey.jpg">
                <div class="box-paragraph"></div>
                <div class="box-paragraph hobbies">
                    <p>I started playing hockey when I was little with friends and always enjoyed playing goalie. 
                        People usually think that’s weird, but there’s something about making that crazy save and 
                        keeping your team in the game when you shouldn’t be that just feels amazing. I never got into 
                        organized hockey growing up because I always played football, but in high school I realized 
                        that that was the sport I really wanted to play. I never skated in my life or played a single 
                        real game, I would always just play it with friends and goof around a lot during it. However, 
                        that wasn’t going to stop me from trying. I took skating lessons for a year and went to a 
                        goalie camp and worked in certain training programs to aid me in doing what I wanted to do 
                        and eventually joined the hockey club at my high school. It was rough at first as it was hard 
                        to keep up with people that have already been playing the game their whole life, but the time 
                        finally came to be called into my first game against a very good team that was blowing us out. 
                        I stuck to the skills that I’ve learned through my training and built up at practice and 
                        managed to only let up a couple of goals. This experience made me realize how much hard work 
                        really can get you in your life and is a philosophy I always think of whenever I am struggling 
                        with something. </p>
                </div>
            </div>

            <!--Fishing section-->
            <div class="box fishing">
                <h1>Fishing</h1>
                <img class="img fish" src="images/hobbies/fishing.jpg">
                <div class="box-paragraph"></div>
                <div class="box-paragraph hobbies">
                    <p>Fishing has always been my biggest hobby since I could walk, it’s something that I find so 
                        relaxing yet exciting at the same time. I’ve always enjoyed bass fishing and would occasionally 
                        fish for trout and salmon in Wisconsin with my family. The most important lesson I’ve learned 
                        from fishing like any other fisherman is the power of patience, as you can’t just rush a fish 
                        onto your line. Sometimes you have experiences in life where you have to perform something over 
                        time in order to get the results you want and is something that can even make or break whatever 
                        you’re trying to do.This is something else I’ve always had to remind myself of over the years 
                        as sometimes you just want something to be done overnight or instantaneously, but sometimes 
                        that’s just not possible. Rushing is not a good habit to have as it can mess everything up you 
                        were working for in the first place. It isn’t worth it at the end of the day unless you’re 
                        literally forced to do it. This is something that I try to think of whenever learning a new 
                        skill, as if you try to rush to learn it you won’t fully grasp it, and if you aren’t persistent 
                        you won’t learn it in the first place. Persistence is key, and it’s something that I believe can 
                        get people over even an Everest sized hump in their life.</p>
                </div>
            </div>

            <!--Volunteering-->
            <h1 class="outside-header">Volunteer</h1>
            <h1 class="outside-header work">Work</h1>
            <div class="box pantry">
                <h1>St. Vincent de Paul Food Pantry</h1>
                <img class="img st-francis" src="images/work-photos/st-francis.jpg">
                <div class="box-paragraph"></div>
                <div class="box-paragraph volunteer">
                    <p>I’ve spent my later years in high school volunteering at the St Vincent de Paul food pantry in 
                        Lake Zurich Illinois at St. Francis. During my time there I met so many different walks of life 
                        and worked with people of such different age groups as well. I believe it was a great experience 
                        for me to have. I would stock shelves on Saturdays and then aid in getting everyone their food 
                        on Thursdays, which involved walking people around the shelves and letting them know how much 
                        food they can pick and helping some of them put it in their bags. I would also switch between 
                        doing that and labeling bags that were already packaged for people by their number as well as 
                        carrying bags out to their cars. Everyone that volunteered there was very nice, and I appreciate 
                        the time that I spent there. I think that it’s something that everyone should do in their 
                        lifetime and experience how important community really is in the world. </p>
                </div>
            </div>
        </div>  



        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>