<!--The education page-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="education.css">

        <title>Krejci Education Portfolio</title>

    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        <div class="container">
            <!--Beginning header for schools attended-->
            <h1 class="outside-header">Schooling</h1>
            <div class="wrapper school">
                <!--First box that will have Lewis in it-->
                <div class="box lewis">
                    <h1>Lewis University</h1>
                    <div class="col-pic">
                        <!--Image of School-->
                        <img class="img-lewis" src="images/education-photos/lewis.jpg">
                    </div>
                    <div class="col-paragraph">
                        <!--Write info here about time here-->
                        <!--Quick list of details here-->
                        <ul class="school-list">
                            <li><span><b>Location:</b> Romeoville, Illinois</li></span>
                            <li><span><b>Degree:</b> Bachelor of Science</li></span>
                            <li><span><b>Major:</b> Computer Science</li></span>
                            <li><span><b>Minor:</b> Mathematics</li></span>
                            <li><span><b>GPA:</b> 4.0</li></span>
                            <li><span><b>Graduated:</b> December 2022</li></span>
                        </ul>
                    </div>
                </div>

                <!--Second box that will have CLC in it-->
                <div class="box clc">
                    <h1>College of Lake County</h1>
                    <div class="col-pic">
                        <!--Image of School-->
                        <img class="img-clc" src="images/education-photos/clc.jpg">
                    </div>
                    <div class="col-paragraph">
                        <!--Write info here about time here-->
                        <!--Quick list of details here-->
                        <ul class="school-list">
                            <li><span><b>Location:</b> Grayslake, Illinois</li></span>
                            <li><span><b>Degree:</b> Associate of Arts</li></span>
                            <li><span><b>Major:</b> General</li></span>
                            <li><span><b>Minor:</b> None</li></span>
                            <li><span><b>GPA:</b> 3.65</li></span>
                            <li><span><b>Graduated</b> May 2020</li></span>
                        </ul>
                    </div>
                </div>
            </div>
            
            <h1 class="outside-header">Awards</h1>
            <div class="box-awards reveal">
                <!--Make this display flex row to get pics side by side-->
                <div class="awards-pics">
                    <img class="img-grad photo" data-src="images/education-photos/graduation.jpg">
                    <img class="img-award photo" data-src="images/education-photos/award.jpg">
                </div>
                <div class="col-paragraph awards">
                    <ul class="award-list">
                        <li><span><b>Lewis University:</b> Summa Cum Laude</li></span>
                        <li><span><b><br>Lewis University:</b> Computer Science Senior Award</li></span>
                        <li><span><b><br>Lewis University:</b> Dean's List 5x</li></span>
                        <li><span><b><br>Lewis University:</b> Edward D. Lewis and Philip D. Lewis Award 2x</li></span>
                        <li><span><b><br>Lewis University:</b> The National Society of Leadership and Success</li></span>
                        <li><span><b><br>College of Lake County:</b> College Honor List for Academic Excellence 2x</li></span>
                        <li><span><b><br>College of Lake County:</b> Phi Theta Kappa Honor Society</li></span>
                    </ul>
                </div>
            </div>
        </div>


    
    <!--Insert the footer using ejs-->
    <%- include('partials/footer'); -%>

    
    <!--Insert javascript for lazy loading images-->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        //Create the lazy load object
        const myLazyLoad = new LazyLoad({
            elements_selector: ".photo"
        })
    </script>
    <script>
        //Create code for revealing skill columns
        window.addEventListener('scroll', reveal);

        function reveal() {
            //Select all that contains the reveal title in its class
            var reveals = document.querySelectorAll('.reveal');

            for(var i = 0; i< reveals.length; i++) {
                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 50;
                
                //If we get to the reveal point we want set the class to active
                if(revealtop < windowheight - revealpoint) {
                    reveals[i].classList.add('active')
                } //Add an else statement to remove the active if you want this animation to happen on every downwards scroll if not it will animate once per refreshed page
            }
        }
    </script>
    </body>
</html>