<!--SUMMARY OF MY EDUCATION AND AWARDS-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="education.css">

        <title>Krejci Experience Portfolio</title>

    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        <div class="container">
            <!--Beginning header for schools attended-->
            <h1 class="outside-header">Schools</h1>
            <h1 class="outside-header">Attended</h1>

            <!--First box that will have Lewis in it-->
            <div class="box">
                <div class="col-head">
                    <h1>Lewis University</h1>
                </div>
                <div class="col-pic">
                    <!--Image of School-->
                    <img class="img-lewis" src="images/education-photos/lewis.jpg">
                </div>
                <div class="col-paragraph">
                    <!--Write info here about time here-->
                    <!--Quick list of details here-->
                    <ul class="school-list">
                        <li><span><b>Location:</b> Romeoville, Illinois</li></span>
                        <li><span><b>Degree:</b> Bachelor of Science</li></span>
                        <li><span><b>Major:</b> Computer Science</li></span>
                        <li><span><b>Minor:</b> Mathematics</li></span>
                        <li><span><b>GPA:</b> 4.0</li></span>
                        <li><span><b>Graduated:</b> December 2022</li></span>
                    </ul>
                </div>
            </div>

            <!--Second box that will have CLC in it-->
            <div class="box">
                <div class="col-head">
                    <h1>College of Lake County</h1>
                </div>
                <div class="col-pic">
                    <!--Image of School-->
                    <img class="img-clc" src="images/education-photos/clc.jpg">
                </div>
                <div class="col-paragraph">
                    <!--Write info here about time here-->
                    <!--Quick list of details here-->
                    <ul class="school-list">
                        <li><span><b>Location:</b> Grayslake, Illinois</li></span>
                        <li><span><b>Degree:</b> Associate of Arts</li></span>
                        <li><span><b>Major:</b> General</li></span>
                        <li><span><b>GPA:</b> 3.65</li></span>
                        <li><span><b>Graduated</b> May 2020</li></span>
                    </ul>
                </div>
            </div>

            <!--Box that will contain the awards and scholarships I've gotten with pictures-->
            <div class="box">
                <div class="col-head">
                    <h1>Awards</h1>
                </div>
                <!--Make this display flex row to get pics side by side-->
                <div class="awards-pics">
                    <div class="col-pic award">
                        <img class="img-grad" src="images/education-photos/graduation.jpg">
                    </div>
                    <div class="col-pic award">
                        <img class="img-award" src="images/education-photos/award.jpg">
                    </div>
                </div>
                <div class="col-paragraph awards">
                    <ul class="award-list">
                        <li><span><b>Lewis University:</b> Summa Cum Laude</li></span>
                        <li><span><b>Lewis University:</b> Computer Science Senior Award</li></span>
                        <li><span><b>Lewis University:</b> Dean's List 5x</li></span>
                        <li><span><b>Lewis University:</b> Edward D. Lewis and Philip D. Lewis Award 2x</li></span>
                        <li><span><b>Lewis University:</b> The National Society of Leadership and Success</li></span>
                        <li><span><b>College of Lake County:</b> College Honor List for Academic Excellence 2x</li></span>
                        <li><span><b>College of Lake County:</b> Phi Theta Kappa Honor Society</li></span>
                    </ul>
                </div>
            </div>
        </div>


        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>