<!--SUMMARY OF MY EDUCATION AND AWARDS-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="education.css">

        <title>Krejci Experience Portfolio</title>

    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        <div class="container">
            <!--Beginning header for schools attended-->
            <h1 class="outside-header">Schools Attended</h1>

            <!--First box that will have Lewis in it-->
            <div class="box">
                <div class="col-head">
                    <h1>Lewis University</h1>
                </div>
                <div class="col-pic">
                    <!--Image of School-->
                    <img class="jack-profile" src="images/education-photos/lewis.jpg">
                </div>
                <div class="col-paragraph">
                    <!--Write info here about time here-->
                    <p></p>
                </div>
            </div>

            <!--Second box that will have CLC in it-->
            <div class="box">
                <div class="col-head">
                    <h1>College of Lake County</h1>
                </div>
                <div class="col-pic">
                    <!--Image of School-->
                    <img class="jack-profile" src="images/education-photos/clc.jpg">
                </div>
                <div class="col-paragraph">
                    <!--Write info here about time here-->
                    <p></p>
                </div>
            </div>

            <!--Box that will contain the awards and scholarships I've gotten with pictures-->
        </div>


        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>