<!--SUMMARY OF MY EDUCATION AND AWARDS-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="education.css">

        <title>Krejci Experience Portfolio</title>

    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        
        <!--Main body outside the header and footer-->
        <main>
            <p>Education Page!</p>
        </main>


        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>