<!--PUT QUICK SUMMARY OF YOURSELF WITH SLIDESHOW SHOWING WHAT TO EXPECT ON THE SITE AND ALSO HELPS SUMMARIZING MYSELF-->

<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="home.css">
        <title>Krejci Portfolio</title>
        <!--Link for the swiper for the home page-->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
        />
    </head>

    <!--Body portion of the webpage -->
    <body>

        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="images/binary.png"></div>
                <div class="swiper-slide"><img src="images/math.jfif"></div>
                <div class="swiper-slide"><img src="images/lewis-university.jpg"></div>
                <div class="swiper-slide"><img src="images/clc-illinois.jfif"></div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
        </div>
        <!--Create auto slider for summarizing purposes-->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

        <!--Flexbox Layout for rest of website for this page-->
        <div class="container">

            <!--First box with welcome message and image of me-->
            <div class="box">
                <h1>Welcome To My Portfolio!</h1>
                <img class="jack-profile" src="images/jack-profile.png">
                <p id="paragraph-box">I am a junior level software engineer ready to start off my career!</p>
            </div>

            <!--Box showcasing programming languages I have experience with-->
            <div class="box">
                <h1>Welcome To My Portfolio!</h1>
                <img class="jack-profile" src="images/jack-profile.png">
                <p id="paragraph-box">I am a junior level software engineer ready to start off my career!</p>
            </div>

            <!--Box showcasing the web development skill I have experience with INCLUDE CLOUD EXPERIENCE HERE-->
            <div class="box">
                <h1>Welcome To My Portfolio!</h1>
                <img class="jack-profile" src="images/jack-profile.png">
                <p id="paragraph-box">I am a junior level software engineer ready to start off my career!</p>
            </div>

            <!--Pennetration testing experience-->
            <div class="box">
                <h1>Welcome To My Portfolio!</h1>
                <img class="jack-profile" src="images/jack-profile.png">
                <p id="paragraph-box">I am a junior level software engineer ready to start off my career!</p>
            </div>

        </div>
        <!--Insert the footer using ejs FOOTER WASNT SHOWING BEFORE BECAUSE THE CONTAINER ABOVE WASNT GOING PAST ONE PAGE CHECK FOR THAT IF IT HAPPENS AGAIN!!-->
        <%- include('partials/footer'); -%>

        

    <script>
        const swiper = new Swiper('.swiper', {
            //Autoplay delay in milliseconds
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            // Optional parameters
            loop: true,

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });
    </script>
    </body>
</html>