<!--PUT QUICK SUMMARY OF YOURSELF WITH SLIDESHOW SHOWING WHAT TO EXPECT ON THE SITE AND ALSO HELPS SUMMARIZING MYSELF-->

<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="home.css">
        <title>Krejci Portfolio</title>
        <!--Link for the swiper for the home page-->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
        />
        
    </head>

    <!--Body portion of the webpage -->
    <body>

        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>
        
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="images/binary.png"></div>
                <div class="swiper-slide"><img src="images/math.jfif"></div>
                <div class="swiper-slide"><img src="images/lewis-university.jpg"></div>
                <div class="swiper-slide"><img src="images/clc-illinois.jfif"></div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <!--Create auto slider for summarizing purposes-->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

        <!--Flexbox Layout for rest of website for this page-->
        <div class="container">

            <!--First box with welcome message and image of me-->
            <div class="box">
                <h1>Welcome To My Portfolio!</h1>
                <div id="intro-box">
                    <img class="jack-profile" src="images/jack-profile.png">
                    <div class="box-paragraph">
                        <p id="paragraph-intro">I am a junior level software engineer with a passion for problem solving, 
                            a skill of mine that I’ve put to work for a long time, which is what opened the door 
                            for my passion in software engineering and mathematics. I have been building 
                            up a lot of skills over the years, but I am always open to learning new topics, 
                            doing whatever I can and spending all the time I need in order to master them.
                            For whatever technical help you need <a href="" onclick="return false;" id="contact-me">contact me</a>
                            I’m up for the challenge!
                        </p>
                    </div>
                </div>
            </div>

            <!--Box showcasing programming languages I have experience with-->
            <div class="box">
                <h1>Programming Skills</h1>
                <div class="skill-box">
                    <div class="skill-img"><img class="skill-img-direct" src="images/programming-skills/python.png">
                        <p class="skill-description">Python</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/programming-skills/java.png">
                        <p class="skill-description">Java</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/programming-skills/javascript.png">
                        <p class="skill-description">JavaScript</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/programming-skills/bash.png">
                        <p class="skill-description">Bash</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/programming-skills/ruby.png">
                        <p class="skill-description">Ruby</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct-php" src="images/programming-skills/php.png">
                        <p class="skill-description">PHP</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/programming-skills/c-logo.png">
                        <p class="skill-description">C++</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/programming-skills/powershell.png">
                        <p class="skill-description">Powershell</p>
                    </div>

                </div>
            </div>

            <!--Box showcasing the web development skill I have experience with INCLUDE CLOUD EXPERIENCE HERE-->
            <div class="box" id="skills-col">
                <h1>Web Development Skills</h1>
                <div class="skill-box">
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/html.png">
                        <p class="skill-description">HTML</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/css.png">
                        <p class="skill-description">CSS</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/javascript.png">
                        <p class="skill-description">JavaScript</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/ejs.jpg">
                        <p class="skill-description">Embedded JavaScript</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/node-js.png">
                        <p class="skill-description">Node.js</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/express.png">
                        <p class="skill-description">Express.js</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct-php" src="images/web-dev-skills/php.png">
                        <p class="skill-description">PHP</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/powershell.png">
                        <p class="skill-description">Powershell</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/git.png">
                        <p class="skill-description">Git</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/apche2.png">
                        <p class="skill-description">Apache</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/mongo.png">
                        <p class="skill-description">MongoDB</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/web-dev-skills/my-sql.png">
                        <p class="skill-description">MySQL</p>
                    </div>
                </div>
            </div>

            <!--Pennetration testing experience-->
            <div class="box" id="skills-col">
                <h1>Pennetration Testing Skills</h1>
                <div class="skill-box">
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/bash.png">
                        <p class="skill-description">Bash</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/virtual-box.png">
                        <p class="skill-description">Virtual Box</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/linux.png">
                        <p class="skill-description">Linux</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/metasploit.png">
                        <p class="skill-description">Metasploit</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/powershell.png">
                        <p class="skill-description">Powershell</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/python.png">
                        <p class="skill-description">Python</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/ruby.png">
                        <p class="skill-description">Ruby</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/kali.png">
                        <p class="skill-description">Kali</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/windows.png">
                        <p class="skill-description">Windows</p>
                    </div>
                    <div class="skill-img"><img class="skill-img-direct" src="images/penn-test-skills/debian.png">
                        <p class="skill-description">Debian</p>
                    </div>
                </div>
            </div>

        </div>

        <!--Insert the footer using ejs FOOTER WASNT SHOWING BEFORE BECAUSE THE CONTAINER ABOVE WASNT GOING PAST ONE PAGE CHECK FOR THAT IF IT HAPPENS AGAIN!!-->
        <%- include('partials/footer'); -%>

        

    <script>
        const swiper = new Swiper('.swiper', {
            //Autoplay delay in milliseconds
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            // Optional parameters
            loop: true,

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });

        //Watch for the click event on the anchor tag, if clicked scroll to bottom of page
        let footLink = document.getElementById("contact-me");

        footLink.addEventListener("click", (e) => {
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: "smooth",

            });
        });
    </script>
    </body>
</html>