<!--PUT QUICK SUMMARY OF YOURSELF WITH SLIDESHOW SHOWING WHAT TO EXPECT ON THE SITE AND ALSO HELPS SUMMARIZING MYSELF-->

<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="home.css">

        <title>Krejci Portfolio</title>


    </head>

    <!--Body portion of the webpage -->
    <body>

        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        
        <!--Main body outside the header and footer-->
        <main>
            <p>Home Page!</p>
        </main>


        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>