<!--THIS PAGE WILL CONTAIN THE PROJECTS YOU'VE CREATED GIVE SUMMARY FOR EACH AND STEPS AND STRUGGLES POSSIBLY-->
<!--MAKE SURE TO NOT JUST INCLUDE WEBSITES BUT OTHER PROGRAMS FROM OTHER CLASSES LIKE WITH PYTHON, JAVA, BASH, ETC-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="projects.css">

        <title>Krejci Projects Portfolio</title>

    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        
        <!--Create a grid of all the projects we want to display (OR MAYBE FLEX WILL BE EASIER FOR LAYOUT PURPOSES)-->
        <div class="container">
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card url">
                <div class="card-image car-1"></div>
                <h2>Capstone Project</h2> 
                <p>Capstone project made for Lewis University, created for Fairmont Community Partnership Group, Inc. Created for the purpose 
                    of organizing volunteer events including creating schedules, letting users create profiles that includes their skills, etc. 
                    This website also contains different privileges depending on the type of users you are.
                </p>
                <a class="srcCode url" href="https://capstone-proj.azurewebsites.net/">URL</a>
                <a class="srcCode git" href="https://github.com/jkrejci1/software-capstone-team2">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card url">
                <div class="card-image car-2"></div>
                <h2>Password Generator</h2>
                <p>The purpose of this project is to create a web app allows a user to generate passwords, and save them to a user profile if created. <br><br><br><br><br></p>
                <a class="srcCode url" href="https://password-generator.azurewebsites.net/">URL</a>
                <a class="srcCode" href="https://github.com/jkrejci1/software-engineering-project-passgen">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card url">
                <div class="card-image car-3"></div>
                <h2>Fairmont Project 2</h2>
                <p>A different version of the capstone project for Fairmont Community Partnership Group, Inc I made for my database class. where you can create and remove schedules
                    by giving jobs to volunteers ran by a certain leader at a given time period. This version is also different in terms of the stack that
                    was used to create it.
                </p>
                <a class="srcCode url" href="http://3.145.10.77/db-final-project-jkrejci1/fairmont/">URL</a>
                <a class="srcCode" href="https://github.com/jkrejci1/database-final">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-4"></div>
                <h2>Turtle OT Football</h2>
                <p>An overtime football game using the turtle graphics in python, with your controls being to either type 'r' or 'p' to run
                    a running or passing play. You have a randomized chance of gaining or losing yards and if you score a touchdown you win,
                    but if you run out of downs, you lose.<br><br>
                </p>
                <a class="srcCode" href="https://github.com/jkrejci1/turtle-ot-football">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-5"></div>
                <h2>Buffer Overflow Attack</h2>
                <p>A metasploit and non metasploit ruby program that performs a buffer overflow attack using an IP on a vulnerable server file.<br><br><br><br><br></p>
                <a class="srcCode" href="https://github.com/jkrejci1/meta-nonMetasploit-buffer-overflow">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-6"></div>
                <h2>Picture Frame Editor</h2>
                <p>Java program allowing for a pop-up window that contains 
                    pictures, and the option to be able to add text to them, and edit other information on there such as the data created, and 
                    then save it permanently. For the purpose of practicing object-oriented programming at a higher level.<br><br></p>
                    <a class="srcCode" href="https://github.com/jkrejci1/PictureFrameRep">Source Code</a>

            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-7"></div>
                <h2>Ascending BST Checker</h2>
                <p>Python program that creates a binary search tree and always prints it in ascending order and determines whether or not a certain given element is inside it.<br><br><br><br></p>
                <a class="srcCode" href="https://github.com/jkrejci1/bst-acend-checker">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-8"></div>
                <h2>Linked List Reversal</h2>
                <p>A python program that uses singly linked list data structure to reverse a list and give you the third to last number.<br><br><br><br><br></p>
                <a class="srcCode" href="https://github.com/jkrejci1/linked-list-reverse">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-9"></div>
                <h2>Battery Life Estimator</h2>
                <p>Python program for battery monitor in electric car to determine range it can travel taking the cars temp, speed, traffic 
                    conditions, and its climate control into consideration<br><br><br><br></p>
                    <a class="srcCode" href="https://github.com/jkrejci1/battery">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-10"></div>
                <h2>OOP Quizlet</h2>
                <p>A little quizlet application that uses a txt file to ask questions using Java, with the given questions mainly being about topics 
                    involving object-oriented programming.<br><br><br><br>
                </p>
                <a class="srcCode" href="https://github.com/jkrejci1/java-quizlet">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-11"></div>
                <h2>Realty Project</h2>
                <p>A Java application that creates realty information from information given to it in a txt file.<br><br><br><br><br><br></p>
                <a class="srcCode" href="https://github.com/jkrejci1/java-realty">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-12"></div>
                <h2>Java Store Program</h2>
                <p>A store program made in Java that interacts with txt files to give correct information, and allow the user to add and remove items
                    in a cart, then checkout and buy the items when the user decides to. There also may be certain sales, and deals on certain products
                    as well.<br><br></p>
                    <a class="srcCode" href="https://github.com/jkrejci1/java-store">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-13"></div>
                <h2>Python Jungle Store</h2>
                <p>A store simulation program called "The Jungle" written in Python, which gets its data from a txt file and allows the user
                    to interact with the program to purchase items.<br><br><br><br>
                </p>
                <a class="srcCode" href="https://github.com/jkrejci1/python-store">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-14"></div>
                <h2>Madlibs</h2>
                <p>A Java program that takes data from several txt files to create a simplified madlibs type of game that the user can interact with.
                    <br><br><br><br><br></p>
                <a class="srcCode" href="https://github.com/jkrejci1/java-madlibs">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-15"></div>
                <h2>Pizza Quest</h2>
                <p>Python game that involves you giving commands to the program to go a certain way in a room with the goal being to get the pizza that's in one of the rooms when losing health from getting stung by bees when moving to rooms or asking for help.
                    Use the bear_map.txt file when asked to enter the map at the beginning.</p>
                <a class="srcCode" href="https://github.com/jkrejci1/python-game">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-16"></div>
                <h2>Port Scanner Program</h2>
                <p>Bash program with the purpose to allow for a user to enter a host name of a website, or ip, etc, and the host na use a basic TCP port scanner to check for what ports are up.
                    <br><br><br><br></p>
                <a class="srcCode" href="https://github.com/jkrejci1/port-scanner">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-17"></div>
                <h2>Binary Tree Comparer</h2>
                <p>Python program that takes two binary trees and determines if they are equal along with checking how many times a certain element is in one of the trees.<br><br><br><br></p>
                <a class="srcCode" href="https://github.com/jkrejci1/equal-trees">Source Code</a>
            </div>
            <!--Show: Picture, description, URL/download link, source code-->
            <div class="card">
                <div class="card-image car-18"></div>
                <h2>Server Stats Program</h2>
                <p>Ruby program that gives statistics of hostnames given to it in a txt file, the statistics being the amount of hosts that are using
                    Apache, IIS, NGinX, or any other servers.<br><br><br><br>
                </p>
                <a class="srcCode" href="https://github.com/jkrejci1/server-stats">Source Code</a>
            </div>
        </div>


        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>