<!--THIS PAGE WILL CONTAIN THE PROJECTS YOU'VE CREATED GIVE SUMMARY FOR EACH AND STEPS AND STRUGGLES POSSIBLY-->
<!--MAKE SURE TO NOT JUST INCLUDE WEBSITES BUT OTHER PROGRAMS FROM OTHER CLASSES LIKE WITH PYTHON, JAVA, BASH, ETC-->
<!DOCTYPE HTML>
    <html lang="en">

    <!--Head portion of webpage-->
    <head>
        <!--MAY NEED TO EDIT OR DO MORE BELOW FOR FITTING ALL DEVICES-->
        <meta charset="UTF-8"> 
        <!--Used to make page responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="projects.css">

        <title>Krejci Projects Portfolio</title>

    </head>

    <!--Body portion of the webpage -->
    <body>
        <!--Insert the header using ejs-->
        <%- include('partials/header'); -%>

        
        <!--Main body outside the header and footer-->
        <div class="container">
            <p>Projects Page!</p>
        </div>


        <!--Insert the footer using ejs-->
        <%- include('partials/footer'); -%>

    </body>
</html>