* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root CSS functions*/
:root {
    --gradient: linear-gradient(
        50deg,
        #173197,
        #1a2a6c, 
        #9c1e1e,
        #b81f1f,
        #d69e25,
        #fdbb2d
        
    );
}


body {
    position: relative;
    background-image: var(--gradient);
    /*Creating bottom padding so there's no overlap with the footer with body content*/
    /*padding-bottom: 100px;*/ /*Make sure this is equal to the height of the footer WILL CHANGE LATER*/
    /*Need to set proper min height to where the footer is always at bottom*/
    min-height: 100vh; /*WAS 100 BEFORE, IF PROBLEMS GO BACK TO 100*/
    margin: 0px;
    padding: 0px;
    background-size: 400%;
    animation: bg-animation 200s infinite alternate;
    /*Set default font size for rems*/
}

/*Background animation*/
@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

/*Main Body CSS*/
p {
    position: relative;
    color: black;
    font-weight: 385;
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS for headers that are outside containers*/
.outside-header {
    color: white;
    -webkit-text-stroke: 1.5px black; /* width and color */
    padding-top: 30px;
    font-size: 3.3rem;
}

.outside-header.work {
    padding-top: 0px;
}

/*Container for our flex items*/
.container {
    display: flex;
    flex-direction: column; /*First have flex-direction be column for mobile devices*/
    /*background-color: black;*/ /*DONE TO CHECK FOR WHERE OUR CONTAINER IS*/
    margin-bottom: 0rem;
    min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
    align-items: center; /*Align box to the center*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Boxes for welcome message and the expereince icons*/
.box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 95%;
    text-align: center;
    height: auto;
    overflow: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*For the images inside the site*/
.img {
    width: 80%;
    height: 50%;
    min-height: 173px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15%;
}
.img.hand-shake {
    width: 100%;
}

/*For the paragraphs in the columns*/
.box.paragraph {
    width: 95%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    text-align: center;
}
.box-paragraph {
    width: 95%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    text-align: center;
}

/*For the text in the work section*/
.box-paragraph.work {
    width: 70%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: left;
    margin-left: 20px;
}
