/*MIGHT NEED TO EDIT HOBBIES SECTION FOR SCREENS THAT ARE BIG BUT NOT SO BIG YET!!!!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root CSS functions*/
:root {
    --gradient: linear-gradient(
        50deg,
        #173197,
        #1a2a6c, 
        #9c1e1e,
        #b81f1f,
        #d69e25,
        #fdbb2d
        
    );
}


body {
    position: relative;
    background-image: var(--gradient);
    /*Creating bottom padding so there's no overlap with the footer with body content*/
    /*padding-bottom: 100px;*/ /*Make sure this is equal to the height of the footer WILL CHANGE LATER*/
    /*Need to set proper min height to where the footer is always at bottom*/
    min-height: 100vh; /*WAS 100 BEFORE, IF PROBLEMS GO BACK TO 100*/
    margin: 0px;
    padding: 0px;
    background-size: 400%;
    animation: bg-animation 200s infinite alternate;
    /*Set default font size for rems*/
}

/*Background animation*/
@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

/*Main Body CSS*/
p {
    position: relative;
    color: black;
    font-weight: 385;
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS for headers that are outside containers*/
.outside-header {
    color: white;
    -webkit-text-stroke: 1.5px black; /* width and color */
    padding-top: 30px;
    font-size: 10vw;
}
h1 {
    font-size: 7vw;
}
.outside-header.work {
    padding-top: 0px;
}

/*Container for our flex items*/
.container {
    display: flex;
    flex-direction: column; /*First have flex-direction be column for mobile devices*/
    /*background-color: black;*/ /*DONE TO CHECK FOR WHERE OUR CONTAINER IS*/
    margin-bottom: 0rem;
    min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
    align-items: center; /*Align box to the center*/
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
/*Use wrappers behind the boxes that have different layout settings for each one*/
.wrapper {
    display: flex;
    flex-direction: column; /*First have flex-direction be column for mobile devices*/
    /*background-color: black;*/ /*DONE TO CHECK FOR WHERE OUR CONTAINER IS*/
    margin-bottom: 0rem;
    min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
    align-items: center; /*Align box to the center*/
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
}

/*Boxes for welcome message and the expereince icons*/
.box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 95%;
    text-align: center;
    height: auto;
    overflow: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*For the images inside the site*/
.img {
    width: 80%;
    height: 50%;
    min-height: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15%;
}
.shake-box {
    width: 100%;
}
.img.hand-shake {
    width: 100%;
}
img.st-francis {
    height: 80%;
}

/*For the paragraphs in the columns*/
.box.paragraph {
    width: 95%;
    align-self: center;
    margin-bottom: 10px;
    font-size: .98rem;
    text-align: center;
    font-weight: 385;
}
.box-paragraph {
    width: 95%;
    align-self: center;
    margin-bottom: 10px;
    font-size: .98rem;
    text-align: center;
    font-weight: 385;
}

/*For the text in the work section*/
.box-paragraph.work {
    width: 70%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 4.3vw;
    text-align: left;
    font-weight: 385;
}

/*No text decoration for the list*/
ul {
    text-align: left;
    margin-left: 20px;
}

/*Change font sizes for paragraphs when the width hits 450px*/
@media screen and (min-width: 450px) {
    /*For the paragraphs in the columns*/
    .box.paragraph {
        font-size: 1.1rem;
    }
    .box-paragraph {
        font-size: 1.1rem;
    }
    /*For the text in the work section*/
    .box-paragraph.work {
        font-size: 4.3vw;
    }
}

/*When we hit much larger screens change the structure of the website*/
@media screen and (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
                "about about about about"
                "work work work work"
                "past-work past-work past-work past-work"
                "hobbies hobbies hobbies hobbies"
                "hob hob hob hob"
                "volunteer volunteer volunteer volunteer"
                "vol vol vol vol";
        min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 3vw;
    }
    .outside-header {
        font-size: 6.3vw;
    }
    .work-header {
        font-size: 1.8vw;
    }
    /*Use wrappers behind the boxes that have different layout settings for each one CHANGE BGROUND COLOR TO SEE THEM VISUALLY*/
    .wrapper.about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*Template areas for the site*/
        grid-template-areas: 
                "about-me about-me about-me about-me"
                "hire-me hire-me hire-me hire-me";
        min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;  
        /*background-color: black;*/
        grid-area: about;
        width: 80%;
    }
    .wrapper.work {
        display: grid;
        grid-area: past-work;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*Template areas for the site*/
        grid-template-areas: 
                "fritzls-work gfs-work scoreboard-work hawthorn-work";
        min-height: 50vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;  
        /*background-color: black; FOR REFERENCE*/
        font-size: 0.7rem;

    }
    .wrapper.hobbies {
        display: grid;
        grid-area: hob;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*Template areas for the site*/
        grid-template-areas: 
                "hockey hockey fishing fishing";
        min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;  
        width: 100%;
    }
    .wrapper.volunteer {
        display: grid;
        grid-area: vol;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*Template areas for the site*/
        grid-template-areas: 
                "pantry pantry pantry pantry";
        min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;  
        /*background-color: black;*/
        width: 70%;

    }

    /*For all boxes*/
    .box {
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /*Boxes for the headers for work*/
    .workbox {
        display: flex;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        width: 100%;
        padding-top: 0px;
        height: 80px;
    }

    /*Headers for the work box*/
    .work-header {
        vertical-align: middle;
        margin-top: 0;
    }
    /*Paragraph boxes for about section*/
    .box.paragraph {
        /*background-color: red;*/
        justify-content: start;
        height: auto;
    }
    #journey-box {
        margin-bottom: 90px;
        height: auto;
    }
    .box.hire-me {
        height: auto;
    }
    /*Need to adjust box paragraph boxes to all stay same size*/
    .box-paragraph.work {
        display: block;
        height: 100px;
        width: 90%;
        font-size: 1.5vw;
    }

    /*Give the correct boxes its corresponding area*/
    .box.about-me {
        grid-area: about-me;
    }
    .box.hire-me {
        grid-area: hire-me;
    }
    .box.fritzls-work {
        grid-area: fritzls-work;
    }
    .box.gfs-work {
        grid-area: gfs-work;
    }
    .box.scoreboard-work {
        grid-area: scoreboard-work;
    }
    .box.hawthorn-work {
        grid-area: hawthorn-work;
    }
    .box.hockey {
        grid-area: hockey;
        display: flex;
        flex-direction: column;
    }
    .box.fishing {
        grid-area: fishing;
        display: flex;
        flex-direction: column;
    }
    .box.pantry {
        grid-area: pantry;
        display: flex;
        flex-direction: column;
    }
    /*Needed to also add areas for the outside header labels*/
    .outside-header.past-work {
        grid-area: work;
    }
    .outside-header.hobbies {
        grid-area: hobbies;
    }
    .outside-header.volunteer {
        grid-area: volunteer;
    }

    /*Keeping images proper heights CHECK LATER*/
    .img.fritz, .img.gfs, .img.scoreboard, .img.hawthorn {
        width: 87.5%;
    }


    /*USED FLEX FOR THE WHITE COLUMNS FOR HERE TO MAKE PROPER ADJUSTMENTS FOR REPSONSSIVENESS*/
    /*Paragraph boxes for the hobbie section*/
    .box-paragraph.hobbies {
        width: 95%;
        /*background-color: red;*/
        height: 90%;
    }
    .box-paragraph.volunteer {
        width: 95%;
        /*background-color: red;*/
        height: 60%;
    }

    /*Get images same using boxes for hobbies*/
    .box-pictures.hobbies {
       /* background-color: aqua;*/
        width: 80%;
    }
    .img.hock, .img.fish {
        height: 100%;
    }

    /*NOW TIME FOR THE VOLUNTEER SECTION*/
    /*Adjust the image so it's not so crazy big*/
    .img.st-francis {
        height: 100%;
    }

    /*Adjust images for the about me beginning section*/
    .img.hand-shake {
        width: 100%;
        height: 100%;
    }
    .shake-box {
        /*background-color: aqua;*/
        width: 100%;
        height: 450px;
    }
    .img.beginning {
        width: 55%;
    }


    .pantry-header {
        /*background-color: red;*/
        width: 100%;
    }
    .pantry-pic {
        /*background-color: aqua;*/
        width: 70%
    }
    /*When we don't have an active reveal*/
    .reveal {
        position: relative;
        transform: translateY(120px); /*We set revealpoint to 150*/
        opacity: 0;
        transition: all 1s ease;
    }
    /*When we have an active reveal*/
    .reveal.active {
        transform: translateY(0px); /*We set revealpoint to 150*/
        opacity: 1;
    }
    
}

/*Make links even larger for larger screens*/
@media screen and (min-width: 1600px) {
    .box.paragraph {
        font-size: 1.3rem;
    }
    .box-paragraph {
        font-size: 1.3rem;
    }

}
@media screen and (min-width: 2000px) {
    .box.paragraph {
        font-size: 1.7rem;
    }
    .box-paragraph {
        font-size: 1.7rem;
    }
    .shake-box {
        /*background-color: aqua;*/
        width: 100%;
        height: 550px;
    }
}
@media screen and (min-width: 2400px) {
    .box.paragraph {
        font-size: 2rem;
    }
    .box-paragraph {
        font-size: 2rem;
    }
    .shake-box {
        /*background-color: aqua;*/
        width: 100%;
        height: 750px;
    }
}
