/*CSS FILE FOR THE EDUCATION PAGE*/
/*Makes it to where there's no space around something like a banner for example*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root CSS functions*/
:root {
    --gradient: linear-gradient(
        50deg,
        #173197,
        #1a2a6c, 
        #9c1e1e,
        #b81f1f,
        #d69e25,
        #fdbb2d
        
    );
}


body {
    position: relative;
    background-image: var(--gradient);
    /*Creating bottom padding so there's no overlap with the footer with body content*/
    /*padding-bottom: 100px;*/ /*Make sure this is equal to the height of the footer WILL CHANGE LATER*/
    /*Need to set proper min height to where the footer is always at bottom*/
    min-height: 100vh; /*WAS 100 BEFORE, IF PROBLEMS GO BACK TO 100*/
    background-size: 400%;
    animation: bg-animation 200s infinite alternate;
    /*Set default font size for rems*/
}

/*Background animation*/
@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

/*Container for our flex items*/
.container {
    display: flex;
    flex-direction: column; /*First have flex-direction be column for mobile devices*/
    /*background-color: black;*/ /*DONE TO CHECK FOR WHERE OUR CONTAINER IS*/
    margin-bottom: 0rem;
    min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
    align-items: center; /*Align box to the center*/
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/*Paragraph CSS*/
p {
    position: relative;
    color: black;
    font-weight: 385;
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS for the outside headers*/
.outside-header {
    color: white;
    -webkit-text-stroke: 1.5px black; /* width and color */
    font-size: 10vw;
}

/*CSS for the boxes containing info, they'll be flex-boxes*/
.box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 95%;
    text-align: center;
    height: auto;
    overflow: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.wrapper.school {
    display: flex;
    flex-direction: column;
    justify-items: center;  
    width: 100%;
    height: 100%;
    justify-content: center;
    -bottom: 20px;
}

/*CSS for the Education Columns*/
.col-head {
    width: 100%;
    font-size: 3.9vw;
}
.col-pic {
    height: 100%;
    width: 100%;
}
.img-clc, .img-lewis {
    width: 100%;
    height: 30%;
}
.school-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-position: inside;
    position: relative;
    left: 1%;
    list-style: none;
}
.school-list li span {
    position: relative;
    left: -15px;
}
.col-paragraph {
    width: 95%;
    align-self: center;
    text-align: left;
    font-weight: 385;
    font-size: 3.8vw;
    margin-left: 15px;
}

/*CSS for the awards boxes*/
.awards-pics {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: center;

}
.col-pic.award {
    width: 100%;
    justify-items: center;
    justify-content: center;
    background-color: black;
}
.img-grad, .img-award {
    width: 95%;
    justify-self: center;
    align-self: center;
}
.col-paragraph.awards {
    width: 95%;
    text-align: left;
    font-weight: 385;
    font-size: 3.8vw;
    margin-left: 2.54%;
}
.award-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-position: outside;
    position: relative;
    list-style: none;
    background-color: white;
    justify-self: center;
    align-self: center;
}
.school-list li span {
    position: auto;
    align-self: center;
}

/*When we hit much larger screens change the structure of the website*/
@media screen and (min-width: 700px) {
    .container {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
                "school school school school"
                "awards awards awards awards";
        min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;
        transform: scale(0.8);
        transform-origin: top;
        margin-bottom: -250px;
    }
    h1 {
        font-size: 3.6vw;
    }
    .outside-header {
        font-size: 6vw;
        padding: 0px;
        margin: 0px;
    }

    /*Use wrappers behind the boxes that have different layout settings for each one CHANGE BGROUND COLOR TO SEE THEM VISUALLY*/
    .wrapper.school {
        display: grid;
        grid-area: school;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*Template areas for the site*/
        grid-template-areas: 
                "lewis lewis clc clc";
        width: 95%;
    }

    /*For all boxes*/
    .box {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        height: 100%;
    }
    .col-paragraph {
        width: 95%;
        align-self: center;
        text-align: left;
        font-weight: 385;
        font-size: 2.2vw;
        margin-left: 10px;

    }

    .box.lewis {
        grid-area: lewis;
        align-self: auto;
    }
    .box.clc {
        grid-area: clc;
        align-self: auto;
    }
    /*CSS For the resizing of the images in the columns*/
    .col-pic {
        width: 100%;
    }
    .col-head {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;

    }
    .img-clc, .img-lewis {
        height: 100%;
    }

    /*CSS for the awards section*/
    .box-awards {
        display: flex;
        grid-area: awards;
        width: 90%;
        flex-direction: row;
        background-color: white;
        margin-bottom: 50px;
    }
    .awards-pics {
        grid-area: pics;
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: auto;
    }
    .col-pic.award {
        width: 100%;
        background-color: none;
        align-self: auto;
        height: 40%;
    }
    .img-grad, .img-award {
        width: 100%;
        justify-self: center;
    }
    .col-paragraph.awards {
        grid-area: txt;
        font-size: 2.1vw;
        align-self: auto;
        align-items: auto;
        margin-top: 1.8%;
        margin-left: 12px;
    }

    .reveal {
        /*CHANGE POSITION BACK TO RELATIVE IF THERE'S ANY PROBLEMS*/
        transform: translateX(-1300px); /*We set revealpoint to 150*/
        opacity: 0;
        transition: all 1s ease;
    }

    /*When we have an active reveal*/
    .reveal.active {
        transform: translateY(0px); /*We set revealpoint to 150*/
        opacity: 1;
    }
}

/*When we hit much larger screens change the structure of the website*/
@media screen and (min-width: 850px) {
    .col-paragraph {
        font-size: 1.8vw;
    }
    .col-paragraph.awards {
        font-size: 1.8vw;
    }
    .box-awards {
        display: flex;
        grid-area: awards;
        width: 75%;
        flex-direction: row;
        background-color: white;
        margin-bottom: 50px; 
    }
    h1 {
        font-size: 3vw;
    }
    .outside-header {
        font-size: 5.5vw;
    }
    .wrapper.school {
        display: grid;
        grid-area: school;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*Template areas for the site*/
        grid-template-areas: 
                "lewis lewis clc clc";
    }
}