/*CSS FILE FOR THE HOME PAGE*/
/*Makes it to where there's no space around something like a banner for example*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root CSS functions*/
:root {
    --gradient: linear-gradient(
        50deg,
        #173197,
        #1a2a6c, 
        #9c1e1e,
        #b81f1f,
        #d69e25,
        #fdbb2d
        
    );
}


body {
    position: relative;
    background-image: var(--gradient);
    /*Creating bottom padding so there's no overlap with the footer with body content*/
    /*padding-bottom: 100px;*/ /*Make sure this is equal to the height of the footer WILL CHANGE LATER*/
    /*Need to set proper min height to where the footer is always at bottom*/
    min-height: 100vh; /*WAS 100 BEFORE, IF PROBLEMS GO BACK TO 100*/
    margin: 0px;
    padding: 0px;
    background-size: 400%;
    animation: bg-animation 200s infinite alternate;
    /*Set default font size for rems*/
}

/*Background animation*/
@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

/*Main Body CSS*/
p {
    position: relative;
    color: white;
}
h1 {
    font-size: 7vw;
}
/*Slider CSS*/
.swiper {
    /*Width of what the swiper covers*/
    width: 95%;
    margin-top: 0rem;
    /*ALSO SET A MAX HEIGHT TO FIX THE IMAGE SIZING ISSUE*/
    max-height: 700px;
}

.swiper-slide img{
    width: 100%;
    /*DID THIS TO FIX THE PICTURE SIZING ISSUE*/
    aspect-ratio: 3/2;
}

/*The flexbox layout*/
.container {
    display: flex;
    flex-direction: column; /*First have flex-direction be column for mobile devices*/
    /*background-color: black;*/ /*DONE TO CHECK FOR WHERE OUR CONTAINER IS*/
    margin-top: -.25rem;
    margin-bottom: 0rem;
    min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
    align-items: center; /*Align box to the center*/
}

/*Boxes for welcome message and the expereince icons*/
.box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 95%;
    text-align: center;
    height: auto;
    overflow: wrap;
}

/*The first flexbox containing the intro*/
#intro-box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*The first flexbox containing the intro*/


/*Paragraph in welcome message box*/
#paragraph-intro {
    color: black;
    font-weight: 385;
    text-align: center;
    /*font-size: 1rem;*/
}

.box-paragraph {
    width: 95%;
    align-self: center;
    margin-bottom: 10px;
    font-size: .98rem;
}

/*Picture of me in the wlecome message*/
.jack-profile {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
}

/*Link animation to bottom*/
#contact-me {
    text-decoration: none;
    font-weight: bold;
    color: rgb(86, 26, 226)
}

#contact-me:hover {
    text-decoration: underline;
    color: red;
}

#contact-me:active {
    text-decoration: none;
    font-weight: bold;
    color: rgb(86, 26, 226)
}

/*Make skills grid layout for icons*/
.skill-box {
    text-align: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 0rem;
  }

/*Direct sizing for the images*/
.skill-img {
    height: 150px;
    width: 115px;
}
.skill-img-direct {
    width: 100px;
    height: 100px;
}
/*Needed to adjust the PHP logo to make it look better*/
.skill-img-direct-php {
    max-width: 105px;
    min-height: 100px;
}
.skill-description {
    color: black;
    font-size: 1rem;
    padding-top: 1%;
}

/*Change font sizes for paragraphs when the width hits 450px*/
@media screen and (min-width: 450px) {
    .box-paragraph {
        width: 95%;
        align-self: center;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
}

/*When media screen is at least 700 px*/
@media screen and (min-width: 700px) {
    /*Slider CSS COVER SCREEEN AND MAKE A LITTLE SHORTER*/
    .swiper {
        /*Width of what the swiper covers*/
        width: 100%;
        margin-top: 0rem;
        /*ALSO SET A MAX HEIGHT TO FIX THE IMAGE SIZING ISSUE*/
        max-height: 600px;
    }

    .swiper-slide img{
        width: 100%;
        /*DID THIS TO FIX THE PICTURE SIZING ISSUE*/
        aspect-ratio: 4/2;
    }
    h1 {
        font-size: 3vw;
    }

    /*The page should be a flex row now with the three columns wrapped under the intro*/
    /*The flexbox layout (MIGHT NEED TO CHANGE THIS TO A GRID IN ORDER TO DO WHAT I WANT TO DO)*/
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
                "intro intro intro"
                "web-dev programming penn-test";
        grid-auto-rows: auto;
        min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;
        margin-bottom: 50px;
    }

    /*The first flexbox containing the intro*/
    #intro-box {
        display: flex;
        flex-direction: row;
    }

    /*Picture of me in the welcome message*/
    .jack-profile {
        max-width: 340px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
        padding-left: 20px;
        padding-right: 30px;
    }
    .box-paragraph {
        width: 55%;
        margin-bottom: 10px;
        font-size: 1.15rem;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 10px;
    }

    /*Take all the boxes labeled as is and give them a grid-area for each*/
    .box.intro {
        grid-area: intro;
        left: 20%;
        width: 80%; /*Made intro box a little smaller*/
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /*Skills columns*/
    #skills-col {
        height: 100%;
        /*Overflow and min-width part makes columns not overflow off the grid when screen gets smaller*/
        overflow: hidden;
        min-width: 0;

    }
    #skills-head {
        min-height: 77px;
    }
    .box.programming {
        grid-area: programming;
        width: 95%;
    }
    .box.web-dev {
        grid-area: web-dev;
        grid-template-columns: auto;
    }
    .box.penn-test {
        grid-area: penn-test;
    }
    
    /*Skill box CSS*/
    .skill-box.programming {
        grid-template-columns: auto auto auto;
        padding: 0rem;
      }

    .skill-box.penn-test {
        grid-template-columns: auto auto auto;
        padding: 0rem;
    }
    .skill-box.web-dev {
        grid-template-columns: auto auto auto;
        padding: 0rem;
      }

    /*Direct sizing for the images*/
    .skill-img {
        height: 110px;
        width: 60px;
    }
    .skill-img-direct {
        width: 55px;
        height: 65px;
    }
    /*Needed to adjust the PHP logo to make it look better*/
    .skill-img-direct-php {
        max-width: 70px;
        min-height: 65px;
    }
    .skill-description {
        color: black;
        font-size: .85rem;
        padding-top: 1%;
    }

    /*Reveal Scroll Animations*/

    /*When we don't have an active reveal*/
    .reveal {
        /*CHANGE POSITION BACK TO RELATIVE IF THERE'S ANY PROBLEMS*/
        transform: translateY(120px); /*We set revealpoint to 150*/
        opacity: 0;
        transition: all 1s ease;
    }
    .reveal.intro {
        /*CHANGE POSITION BACK TO RELATIVE IF THERE'S ANY PROBLEMS*/
        transform: translateX(-1300px); /*We set revealpoint to 150*/
        opacity: 0;
        transition: all 1s ease;
    }

    /*When we have an active reveal*/
    .reveal.active {
        transform: translateY(0px); /*We set revealpoint to 150*/
        opacity: 1;
    }
}

/*When media screen is at least 850 px*/
@media screen and (min-width: 850px) {
    /*Shift picutre to the left of the box and have paragraph be to the right of it*/

    /*The page should be a flex row now with the three columns wrapped under the intro*/
    /*The flexbox layout (MIGHT NEED TO CHANGE THIS TO A GRID IN ORDER TO DO WHAT I WANT TO DO)*/
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
                "intro intro intro"
                "web-dev programming penn-test";
        grid-auto-rows: auto;
        min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
        justify-items: center;

    }

    /*The first flexbox containing the intro*/
    #intro-box {
        display: flex;
        flex-direction: row;
    }

    /*Picture of me in the welcome message*/
    .jack-profile {
        max-width: 340px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
        padding-left: 20px;
        padding-right: 30px;
    }
    .box-paragraph {
        width: 55%;
        margin-bottom: 10px;
        font-size: 1.15rem;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 10px;
    }

    /*Take all the boxes labeled as is and give them a grid-area for each*/
    .box.intro {
        grid-area: intro;
        left: 20%;
        width: 80%; /*Made intro box a little smaller*/
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /*Skills columns*/
    #skills-col {
        height: 100%;
        /*Overflow and min-width part makes columns not overflow off the grid when screen gets smaller*/
        overflow: hidden;
        min-width: 0;
    }
    #skills-head {
        min-height: 77px;
    }
    .box.programming {
        grid-area: programming;
        width: 95%;
    }
    .box.web-dev {
        grid-area: web-dev;
        grid-template-columns: auto;
        
    }
    .box.penn-test {
        grid-area: penn-test;
    }
    
    /*Skill box CSS*/
    .skill-box.web-dev {
        grid-template-columns: auto auto auto;
        padding: 0rem;
      }

    .skill-box.penn-test {
        grid-template-columns: auto auto auto;
        padding: 0rem;
    }

    /*Direct sizing for the images*/
    .skill-img {
        height: 140px;
        width: 80px;
    }
    .skill-img-direct {
        width: 70px;
        height: 80px;
    }
    /*Needed to adjust the PHP logo to make it look better*/
    .skill-img-direct-php {
        max-width: 75px;
        min-height: 80px;
    }
    .skill-description {
        color: black;
        font-size: 1rem;
        padding-top: 1%;
    }
    
}