/*CSS FILE FOR THE HOME PAGE*/
/*Makes it to where there's no space around something like a banner for example*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root CSS functions*/
:root {
    --gradient: linear-gradient(
        50deg,
        rgb(134, 134, 248),
        #c471ed,
        rgb(235, 103, 235),
        #f64f59,
        rgb(255, 83, 83)
        
    );
}

body, main {
    background-image: var(--gradient);
    /*background-size: cover;*/
    position: relative;
    /*Creating bottom padding so there's no overlap with the footer with body content*/
    padding-bottom: 100px; /*Make sure this is equal to the height of the footer WILL CHANGE LATER*/
    /*Need to set proper min height to where the footer is always at bottom*/
    min-height: 80vh; /*WAS 100 BEFORE, IF PROBLEMS GO BACK TO 100*/
    margin: 0px;
    padding: 0px;
    background-size: 400%;
    animation: bg-animation 300s infinite alternate;

}

/*Background animation*/
@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

/*Main Body CSS*/
p {
    position: relative;
    color: white;
}

/*Slider CSS*/
.swiper {
    /*Width of what the swiper covers*/
    width: 100%;

    /*ALSO SET A MAX HEIGHT TO FIX THE IMAGE SIZING ISSUE*/
    max-height: 700px;
}

.swiper-slide img{
    width: 100%;
    /*DID THIS TO FIX THE PICTURE SIZING ISSUE*/
    aspect-ratio: 5/2;
}

/*When media screen is at least 500 px*/
@media screen and (min-width: 500px) {

}