* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root CSS functions*/
:root {
    --gradient: linear-gradient(
        50deg,
        #173197,
        #1a2a6c, 
        #9c1e1e,
        #b81f1f,
        #d69e25,
        #fdbb2d
        
    );
}


body {
    position: relative;
    background-image: var(--gradient);
    /*Creating bottom padding so there's no overlap with the footer with body content*/
    /*padding-bottom: 100px;*/ /*Make sure this is equal to the height of the footer WILL CHANGE LATER*/
    /*Need to set proper min height to where the footer is always at bottom*/
    min-height: 100vh; /*WAS 100 BEFORE, IF PROBLEMS GO BACK TO 100*/
    margin: 0px;
    padding: 0px;
    background-size: 400%;
    animation: bg-animation 200s infinite alternate;
    /*Set default font size for rems*/
}

/*Background animation*/
@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

/*Main Body CSS*/
p {
    position: relative;
    font-weight: 385;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 5px 5px 5px 5px;
}
.srcCode {
    position: relative;
    font-weight: 385;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-left: 5px;
    color: white;
    background-color: #1a2a6c;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    bottom: 0px;
    text-decoration: none;
}
.srcCode:hover {
    animation-name: colorTrans;
    background-color: #9c1e1e;
    color: white;
}
.srcCode.alone {
    margin-top: 50px;
}

/*Hover animation functions*/
@keyframes colorTrans {
    from {background-color: #1a2a6c;}
    to {background-color: white;
        color: black}
  }

/*Container for our flex items*/
.container {
    margin-top: 15px;
    display: flex;
    /*background-color: black;*/ /*DONE TO CHECK FOR WHERE OUR CONTAINER IS*/
    margin-bottom: 0rem;
    min-height: 100vh; /*NEED MIN OR IT WONT GO PAST ONE PAGE!!*/
    align-items: center; /*Align box to the center*/
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

/*CSS for the cards with our projects*/
.card {
    background-color: white;
    width: 380px;
    /*MIGHT NEED TO PLAY WITH HEIGHT IF WE WANT ALL SAME*/
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    border: 4px solid rgb(0, 119, 255);
}
.card.url {
    height: 510px;
}
/*Properties that are for all the images*/
.card-image {
    height: 170px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
/*For the headers in the cards*/
h2 {
    padding-left: 3.45px;
    padding-bottom: 5px;
}

/*Only turn on card animations above 650px width*/
@media screen and (min-width: 650px) {

    .card {
        background-color: white;
        width: 300px;
        /*MIGHT NEED TO PLAY WITH HEIGHT IF WE WANT ALL SAME*/
        height: 480px;
        margin: 14px;
        border-radius: 15px;
        transition: ease-in 0.35s;
    }
    .card.url {
        height: 480px;
    }
    /*Create hover effect*/
    .card:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        transform: scale(1.06);
        transition: all .15s ease;
        box-shadow: 0px 0px 10px 10px rgb(17, 17, 17);
    }
    .srcCode {
        transition: ease-in 0.25s;
    }
    .srcCode:hover {
        animation-name: colorTrans;
        background-color: white;
        color: black;
        transition: ease-in 0.25s;
    }
    /*When we don't have an active reveal*/
    .reveal {
        /*CHANGE POSITION BACK TO RELATIVE IF THERE'S ANY PROBLEMS*/
        transform: translateY(120px); /*We set revealpoint to 150*/
        opacity: 0;
        transition: all 1s ease;
    }
    /*When we have an active reveal*/
    .reveal.active {
        transform: translateY(0px); /*We set revealpoint to 150*/
        opacity: 1;
    }
    .reveal:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        transform: scale(1.07);
        transition: all .35s ease;
    }
}
/*The individual images*/
.car-1 {
    background-image: url("images/projects/capstone.png"); 
    background-size: cover;
}
.car-2 {
    background-image: url("images/projects/password.png"); 
    background-size: cover;
}
.car-3 {
    background-image: url("images/projects/database.png"); 
    background-size: cover;
}
.car-4 {
    background-image: url("images/projects/turtle-football.png"); 
    background-size: cover;
}
.car-5 {
    background-image: url("images/projects/Meta-Success.png"); 
    background-size: cover;
}
.car-6 {
    background-image: url("images/projects/picture-oo.png"); 
    background-size: cover;
}
.car-7 {
    background-image: url("images/projects/alg-proj11.png"); 
    background-size: cover;
}
.car-8 {
    background-image: url("images/projects/alg-proj7.png"); 
    background-size: cover;
}
.car-9 {
    background-image: url("images/projects/battery-python.png"); 
    background-size: cover;
}
.car-10 {
    background-image: url("images/projects/java-quizlet.png"); 
    background-size: cover;
}
.car-11 {
    background-image: url("images/projects/java-realty.png"); 
    background-size: cover;
}
.car-12 {
    background-image: url("images/projects/java-store.png"); 
    background-size: cover;
}
.car-13 {
    background-image: url("images/projects/jungle-python.png"); 
    background-size: cover;
}
.car-14 {
    background-image: url("images/projects/madlibs.png"); 
    background-size: cover;
}
.car-15 {
    background-image: url("images/projects/pizza-quest.png"); 
    background-size: cover;
}
.car-16 {
    background-image: url("images/projects/port-scanner-bash.png"); 
    background-size: cover;
}
.car-17 {
    background-image: url("images/projects/proj8-alg.png"); 
    background-size: cover;
}
.car-18 {
    background-image: url("images/projects/serverstats.png"); 
    background-size: cover;
}
.car-35 {
    background-image: url("images/projects/srcPortfo.png");
    background-size: cover;
}

/*Grow boxes when screen size hits 1280*/
@media screen and (min-width: 1600px) {
    .card {
        width: 500px;
        height: 720px;
        font-size: 1.5rem;
    }
    .card.url {
        width: 500px;
        height: 720px;
    }
    p {
        font-size: 1.35rem;
    }
    .card-image {
        height: 235px;
    }
    .srcCode {
        font-size: 1.2rem;
        padding: 20px 25px;
    }
    /*Add new lines when needed*/
    .new-line-par::after {
        content: "\a";
        white-space: pre;
    }
    .new-line-par.pizza::after {
        content: "\a\a";
        white-space: pre;
    }
    /*Create hover effect*/
    .card:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        transform: scale(1.04);
        transition: all .35s ease;
    }
    .card.reveal:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        transform: scale(1.04);
        transition: all .35s ease;
    }
    .srcCode:hover {
        animation-name: colorTrans;
        background-color: white;
        color: black;
    }
}