/*TEST CSS*/

/*Makes it to where there's no space around something like a banner for example*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("main-background.jpg");
    background-size: cover;
    position: relative;
    /*Creating bottom padding so there's no overlap with the footer with body content*/
    padding-bottom: 100px; /*Make sure this is equal to the height of the footer WILL CHANGE LATER*/
    /*Need to set proper min height to where the footer is always at bottom*/
    min-height: 100vh;
}

/*Header*/
.header {
    /*Creating padding which is effected by what's in the banner like the text*/
    padding: 75px;
    text-align: center;
    color: black;
    background-image: url("banner-background.jpg"); /*COULDN'T ACCESS IMG OUTSIDE THE PUBLIC FOLDER!!*/
    background-size: cover;
  }

/*Main Body*/
p {
    color: white;
}

/*Footer*/
.footer {
    /*Creating padding which is effected by what's in the banner like the text*/
    text-align: center;
    color: black;
    background-image: url("banner-background.jpg");
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }

.contactText {
  position: absolute;
  left: 20%;
}

.phoneText {
  position: absolute;
  color: black;
  left: 23%;
  top: 60%;
}

.emailText {
  position: absolute;
  left: 21%;
  top: 35%;
}

.githubLogo {
  position: absolute;
  width: 110px;
  height: 65px;
  left: 48%;
  top: 20%;
}

.leetLogo {
  position: absolute;
  width: 110px;
  height: 75px;
  left: 57%;
  top: 20%;
}

.linkedInLogo {
  position: absolute;
  min-width: 75px;
  min-height: 65px;
  left: 68%;
  top: 20%;
}

.resumeLogo {
  position: absolute;
  width: 75px;
  height: 65px;
  left: 78%;
  top: 20%;
}

/*Add CSS for personal information, and images for profile links and possibly resume*/