/*CSS FOR HOME PAGE AND HEADER AND FOOTER*/

/*Makes it to where there's no space around something like a banner for example*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body, main {
    background-image: url("main-background.jpg");
    background-size: cover;
    position: relative;
    padding-bottom: 100px; 
    min-height: 100vh;
    margin: 0px;
    padding: 0px;

}
*/

/**COMMENT OUT HEADER TO TRY AND FIX NAVBAR**/
/*Header PROBABLY START THE DROP DOWN MENU WHEN BELOW 470-500 PX*/
  .header {
    padding: 75px;
    position: relative;
    background-image: url("banner-background.jpg"); 
    background-size: cover;
    height: 10px;
  }

#headName {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 

}  

/*NavBar CSS*/
.brand-title {
  font-size: 1.2rem;
  margin: .5rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  color: white;
}

.navbar-links {
  display: none;
  width: 100%;

}

.navbar-links ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*background-color: black;*/
}

.navbar-links li {
  width: 100%;
  list-style: none;
  text-align: center;
}

/*Use ease out to fade back to original when done hovering*/
.navbar-links li a {
  display: block;
  color: white;
  margin-top: 0;
  padding: 1rem 2rem;
  text-decoration: none;
}

/*Hover effects when hovering and after hovering (bottom 2)*/

.navbar-links li a:hover:not(.active) {
  animation-name: colorTrans;
  animation-duration: .3s;
  background-color: white;
  color: black;
}

.navbar-links .active {
  background-color: white;
  color: black;
  width: 100%;
  /**display: flex;**/
}

/*When toggle button is pressed this css runs*/
.navbar-links.active-menu {
  display: flex;
  transition: transform 350ms ease-in;
}

/*Hover animation functions*/
@keyframes colorTrans {
  from {background-color: black;}
  to {background-color: white;
      color: black}
}

@keyframes colorBack {
  from {background-color: white;}
  to {background-color: black;
      color: white}
}

/*Toggle button css*/
.toggle-button {
  position: absolute;
  top: 10rem;
  right: 45%;
  display: flex; /*switch to flex to display the hamburger lines*/
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/*Main Body*/
/*
p {
    color: white;
}
*/

/*Footer*/
.footer {
    /*Creating padding which is effected by what's in the banner like the text*/
    /*text-align: center;*/
    background-image: url("banner-background.jpg");
    background-size: cover;
    position: relative;
    bottom: 0;
    margin-top: .28px;
    width: 100%;
    height: 120px; /*Needed to adjust as needed to leave no gap on bottom*/
  }

.contactText {
  position: absolute;
  font-size: 20px;
}

.phoneText {
  position: absolute;
  color: black;
  top: 40%;
}

.emailText {
  position: absolute;
  top: 20%;
}

.grid-footer {
  display: grid;
  gap: 5px 10px;
  grid-template-columns: auto auto;
  padding: 20px;
  position: absolute;
  right: 0px;
  top: 0%;
  height: 80px;
  
}

.gridLogo {
  padding: 0px;
  /*background-image: url("images/linkedin.png"); USED FOR INDIVID SQUARE SIZES*/
  width: 58px;
  height: 40px;
}

/*Customized picture sizing for the logos*/
.gridPicGit {
  position: absolute;
  top: 10%;
  left: 16px;
  width: 90px;
  height: 50px;
}

.gridPicLeet {
  position: absolute;
  top: 10%;
  left: 83px;
  width: 82px;
  height: 57px;
}

 .gridPicLinkedIn {
  position: absolute;
  top: 80%;
  left: 36px;
  width: 50px;
  height: 50px;
}

.gridPicResume {
  position: absolute;
  top: 80%;
  left: 105px;
  width: 40px;
  height: 50px;
} 


/* Use a media query to cause this change at 500 pixles MOBILE FIRST*/
@media screen and (min-width: 500px) {

  /*FOOTER*/

  /*MIGHT WANT TO DO THIS CENTERING OF THE TEXT FOR FOOTER WHEN WE REACH ABOUT 700PX*/
  /* .contactText {
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -50%); 

  }
  
  .phoneText {
    position: absolute;
    color: black;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  .emailText {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%); 
  } */
  /*Need to display the links now as block and remove the hamburger menu*/
 
  /*On bigger screen don't show hamburger menu*/
  
/*NavBar CSS*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  /*NEED TO MAKE IT NOT COLUMN TO GO TO ORIGINAL FLOW*/
  flex-direction: row;
}

.navbar-links {
  /*SET BACK TO AUTO SO LINKS GO BACK TO HOW THEY WERE BEFORE ADJUSTING ON MAIN MOBILE VERSION OF CSS*/
  width: auto;
  display: flex;
}

.brand-title {
  font-size: 1.2rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: auto;
  /*background-color: black;*/
}

.navbar-links li {
  list-style: none;
  text-align: center;
  width: auto;
}

/*Use ease out to fade back to original when done hovering*/
.navbar-links li a {
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
  transition: ease-out 0.62s;
  padding: 1rem 1rem;

  /*IF WE CHANGE THE NAVBAR TITLE WE MAY NEED TO ADJUST THIS (IF WRAPPING WHERE NAVBAR LEAVES SPACE BETWEEN LINKS)*/

}

/*Hover effects when hovering and after hovering (bottom 2)*/
.navbar-links li a:hover:not(.active) {
  animation-name: colorTrans;
  animation-duration: .3s;
  background-color: white;
  color: black;
}

.navbar-links .active {
  background-color: white;
  color: black;
  display: flex;
}

/*Hover animation functions*/
@keyframes colorTrans {
  from {background-color: black;}
  to {background-color: white;
      color: black}
}

@keyframes colorBack {
  from {background-color: white;}
  to {background-color: black;
      color: white}
}

/*Toggle button css*/
.toggle-button {
  position: absolute;
  top: .05rem;
  right: 1rem;
  display: none; /*switch to flex to display the hamburger lines*/
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

  .grid-footer {
    display: grid;
    gap: 5px 10px;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 0%;
    height: 80px;
    
  }
  
  .gridLogo {
    padding: 0px;
    /*background-image: url("images/linkedin.png"); USED FOR INDIVID SQUARE SIZES*/
    width: 58px;
    height: 40px;
    /*background-color: blue; FOR REF OF INDIVIDUAL SQAURES*/ 
  }
  
  /*Customized picture sizing for the logos*/
  .gridPicGit {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 90px;
    height: 50px;
  }
  
  .gridPicLeet {
    position: absolute;
    top: 50%;
    left: 63px;
    width: 82px;
    height: 57px;
  }
  
  .gridPicLinkedIn {
    position: absolute;
    top: 50%;
    left: 150px;
    width: 50px;
    height: 50px;
  }
  
  .gridPicResume {
    position: absolute;
    top: 50%;
    left: 215px;
    width: 40px;
    height: 50px;
  }
  }
/*Photo Links*/
/* .githubLogo {
  position: absolute;
  width: 110px;
  height: 65px;
  left: 45%;
  top: 20%;
}

.leetLogo {
  position: absolute;
  width: 110px;
  height: 75px;
  left: 54%;
  top: 20%;
}

.linkedInLogo {
  position: absolute;
  width: 75px;
  height: 65px;
  left: 65%;
  top: 20%;
}

.resumeLogo {
  position: absolute;
  width: 75px;
  height: 65px;
  left: 75%;
  top: 20%;
} */

/*Add CSS for personal information, and images for profile links and possibly resume*/